*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 150px;
    width: 366px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background-color: azure;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

}
.bottom{
    border-top: solid 1px black;
    height: 50px;
    padding-top: 20px;
}
button{
    border-radius: 100px;
    background-color: violet transparent;
    color: blue;
    border: none;
    width: 80px;
    height: 30px;
}

img{
    border-radius: 10px;
}