:root {
  --btn-color: blue;
  --bg-color: yellow;
  --default-color: red;
}

* {
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.navbar a{
    text-decoration: none;
    margin: 10px 30px;
    font-size: 1.5rem;

}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:

}

.gallery {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content:flex-start;  
 align-items: center;
}

.card{
    flex: 0 1 300px;
     /*flex-grow: flexshrink minwidth; */
     border-radius: 10px;
     box-shadow: -2px -2px 16px rgba(0, 0, 0,0.53);

     
}

.card img{
   width:100%;
}