* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f8f9fc;
    color: #1a1a1a;
    line-height: 1.6;
}

header {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

   }

header h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1px;
    font-weight: 700;
}

header p {
    color: #555;
    font-size: 1rem;
}

main {
    max-width: 700px;
    margin: 25px auto;
    background-color: #f9fafc;
    padding: 25px;
}

.content {
    margin-bottom: 40px;
    padding-bottom: 5px;
}

.content h2 {
    font-size: 1.25rem;
    color: #222;
    margin-bottom: 15px;
    margin-top: 20px;
}

.content li{
    font-size: 1 rem;
    margin-bottom: 7px;

}
 .content p{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1 rem;
 }

.content a{
    color: #6583de;
    text-decoration: none;
}

ol {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

h3 p {
    padding-top: 10px;
}