*,
*::after,
*::before {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#button-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-to-cart-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}

#add-to-cart-btn:hover {
    background-color: green;
    transform: scale(1.2);
}

#add-to-cart-btn:active {
    transform: scale(0.90);
}