
body {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.grid {
    width: 90vw;
    height: 150vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100px 100px; 
    grid-template-columns: 50% 200px 100px; 
    grid-template-columns: repeat(3, 30%);
    grid-template-columns: minmax(200px, 300px) 300px;
      grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
  
}

.red {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}

.orange {
    background-color: orange;
        grid-column-start: 1;
    grid-column-end: 3;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}