
body {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.grid {
 .grid {
    width: 90vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;  
    grid-template-rows: 1fr 4fr 1fr;
}

}

.red {
    background-color: red;

}

.black {
      background-color: black;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;

}

.blue {
      background-color: blue;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}

.purple {
      background-color: purple;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;

}